name: AutoRelease

on:
  push:
    branches:
      - master
  pull_request:

jobs:

  sign:
    name: "Release"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v1

      - name: Upgrade
        run: sudo apt-get update -y && sudo apt-get install sed -y

      - name: Change version for continuous build
        run: sed -i "/version/s/\",$/-${{ steps.vars.outputs.sha_short }}\",/" manifest.json

      - name: "web-ext build"
        id: web-ext-build
        uses: kewisch/action-web-ext@master
        with:
          cmd: build
          source: ./

      - name: "web-ext sign"
        id: web-ext-sign
        uses: kewisch/action-web-ext@master
        with:
          cmd: sign
          source: ${{ steps.web-ext-build.outputs.target }}
          channel: unlisted
          apiKey: ${{ secrets.FIREFOX_API_KEY }}
          apiSecret: ${{ secrets.FIREFOX_API_SECRET }}
          timeout: 900000

      - name: Create Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            ${{ steps.web-ext-build.outputs.target }}
            ${{ steps.web-ext-sign.outputs.target }}